.about {
    @include baseLayoutSection;
    @include styleOriginTransform;
    @include transition(all, 0.3, ease-in-out, 0.3);
    z-index: 500;

    @media (max-width: 768px) {
        padding: 15rem 0 10rem !important;
    }

    .row {
        @media (max-width: 768px) {
            padding: 5rem 0 4rem !important;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        position: relative;

        img {
            position: relative;
            border-radius: 10px;
            filter: grayscale(1);
            transition: transform 0.3s ease-in, filter 0.5s ease-in;
        }

        &:hover img {
            filter: grayscale(0);
            transform: scale(1.1) rotate(2deg);
        }

        @media (max-width: 767px) {
            margin-top: 25rem;

            &:hover img {
                filter: grayscale(0);
                transform: scale(1.001);
            }
        }
    }

    .about__content {
        width: 100%;

        @media (max-width: 768px) {
            margin-top: 3.5rem;
        }

        &__title {
            text-transform: capitalize;
        }

        &__desc__one {
            font-size: 1.8rem;

            @media (max-width: 768px) {
                font-size: 1.67rem;
            }
        }

        &__desc__two {
            margin-left: 1rem;
        }
    }
}
