.contact {
    @include baseLayoutSection;
    @include styleOriginTransform;
    @include transition(all, 0.3, ease-in-out, 0.3);
    z-index: 900;

    .form-action {
        width: 100%;
        height: 100%;
        position: relative;

        label {
            position: absolute;
            top: -4rem;
            left: 0.3rem;
            font-size: 1.6rem;
            font-weight: 700;
            text-transform: capitalize;
            color: rgba(232, 218, 178, 0.55);
            @include fade(hide);
            @include transition(all, 0.4, ease-in, 0);
        }

        input,
        textarea {
            position: relative;
            padding: 1rem 0;
            border: none !important;
            border-bottom: 0.1rem solid map-get($colors, "orange") !important;
            outline: none !important;
            letter-spacing: 1.4px;
            font-size: 1.6rem;
            font-weight: 700;
            background-color: transparent;
            color: map-get($colors, "coffee");
            caret-color: map-get($colors, "coffee");
            @include prefixing(box-shadow, none);

            &::-webkit-input-placeholder {
                position: absolute;
                top: 0.6rem;
                left: 0.3rem;
                font-size: 1.6rem;
                text-transform: capitalize;
                color: rgba(232, 218, 178, 0.55);
                @include fade(show);
                @include transition(all, 0.4, ease-in, 0);
            }

            &::-moz-placeholder {
                position: absolute;
                top: 0.6rem;
                left: 0.3rem;
                font-size: 1.6rem;
                text-transform: capitalize;
                color: rgba(232, 218, 178, 0.55);
                @include fade(show);
                @include transition(all, 0.4, ease-in, 0);
            }

            &:-ms-input-placeholder {
                position: absolute;
                top: 0.6rem;
                left: 0.3rem;
                font-size: 1.6rem;
                text-transform: capitalize;
                color: rgba(232, 218, 178, 0.55);
                @include fade(show);
                @include transition(all, 0.4, ease-in, 0);
            }

            &::-ms-input-placeholder {
                position: absolute;
                top: 0.6rem;
                left: 0.3rem;
                font-size: 1.6rem;
                text-transform: capitalize;
                color: rgba(232, 218, 178, 0.55);
                @include fade(show);
                @include transition(all, 0.4, ease-in, 0);
            }

            &::placeholder {
                position: absolute;
                top: 0.6rem;
                left: 0.3rem;
                font-size: 1.6rem;
                text-transform: capitalize;
                color: rgba(232, 218, 178, 0.55);
                @include fade(show);
                @include transition(all, 0.4, ease-in, 0);
            }
        }

        .your-email {
            text-transform: none;
        }

        .your-name {
            text-transform: capitalize;
        }

        textarea {
            height: 15rem;
            resize: none;
            text-transform: none;

            @media (max-width: 767px) {
                height: 12.5rem;
                margin-top: 0;
            }
        }

        input:focus::-webkit-input-placeholder,
        textarea:focus::-webkit-input-placeholder {
            top: -2rem;
            @include fade(hide);
        }

        input:focus::-moz-placeholder,
        textarea:focus::-moz-placeholder {
            top: -2rem;
            @include fade(hide);
        }

        input:focus:-ms-input-placeholder,
        textarea:focus:-ms-input-placeholder {
            top: -2rem;
            @include fade(hide);
        }

        input:focus::-ms-input-placeholder,
        textarea:focus::-ms-input-placeholder {
            top: -2rem;
            @include fade(hide);
        }

        input:focus::placeholder,
        textarea:focus::placeholder {
            top: -2rem;
            @include fade(hide);
        }
    }
}
