.hire {
    @include baseLayoutSection;
    @include styleOriginTransform;
    @include transition(all, 0.3, ease-in-out, 0.3);
    z-index: 950;

    &__content__text {
        width: fit-content;
        margin: 0 auto 4.5rem;
        padding: 2rem 1rem;
        text-align: center;
        font-size: 2rem;
        border-radius: 1rem 9rem 0rem 7rem;
        color: map-get($colors, "coffee");

        @media (max-width: 576px) {
            font-size: 1.4rem;
            padding: 1rem 0.5rem;
            border-radius: 1.5rem;
        }

        &__btn {
            margin-top: 2.5rem;
        }
    }

    &__imgs {
        width: 20rem;
        height: 20rem;

        &__arrow {
            width: 10rem;
            height: fit-content;
            margin-bottom: 2rem;

            @media (max-width: 768px) {
                margin-bottom: 1rem;
            }
        }

        &__person {
            width: 14rem;
            height: 14rem;
            padding: 0.2rem;
            border: 0.3rem solid map-get($colors, "orange");
            border-radius: 50%;

            img {
                border-radius: 50%;
            }
        }
    }
}
