.tools {
    width: 100%;
    height: 100%;
    @include pad140;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
    @include styleOriginTransform;
    z-index: 900;
    transition: all 0.3s ease-in-out 0.3s;

    .tool-card {
        width: 10rem;
        height: 10rem;
        position: relative;
        padding: 1rem;
        margin-bottom: 2.5rem;

        &::before {
            content: attr(data-tool-img);
            width: 8.6rem;
            height: 4.7rem;
            padding: 0.8rem 1.1rem;
            border-radius: 0.6rem;
            position: absolute;
            top: 106%;
            left: -110%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            text-transform: capitalize;
            font-size: 1.6rem;
            background-color: $darkBlue;
            color: $coffeeColor;
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s ease-in-out;
        }

        &:hover::before {
            left: 8%;
            visibility: visible;
            opacity: 1;

            @media (max-width: 1100px) {
                left: 7%;
            }

            @media (max-width: 768px) {
                visibility: hidden;
                opacity: 0;
            }
        }

        @media (max-width: 768px) {
            width: 8rem;
            height: 8rem;
            margin-top: -1.2rem;
            padding: 1rem 0.7rem;
        }

        img {
            width: 90% !important;
            height: 90% !important;
            position: relative;
            cursor: pointer;
            object-fit: cover !important;
            transition: transform 0.3s ease-in-out;

            @media (max-width: 768px) {
                width: 85% !important;
                height: 85% !important;
            }
        }

        &:hover img {
            transform: scale(1.3);
        }
    }
}
