.works {
    @include baseLayoutSection;
    @include styleOriginTransform;
    @include transitionAllEaseInOut3s;
    z-index: 700;

    .swiper-slide {
        &:hover .works__box__content {
            top: 0;
        }
    }

    &__box {
        width: 100%;
        height: 32rem;
        border-radius: 1rem;
        position: relative;
        text-align: center;
        text-transform: capitalize;
        @include flexCenterYX;
        flex-direction: column;

        &__img {
            width: 100%;
            height: 100%;
            border-radius: 1rem;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                border-radius: 1rem;
            }
        }

        &__content {
            width: 100%;
            height: 100%;
            border-radius: 1rem;
            position: absolute;
            top: -110%;
            left: 0;
            @include flexCenterYX;
            text-align: center;
            background-color: rgb(15 15 15 / 77%);
            z-index: 9999;
            transition: all 0.4s ease-in-out;

            svg {
                width: 1.5rem;
                height: 1.5rem;
                margin: 0 2rem;
                padding: 1.4rem;
                border-radius: 50%;
                @include flexCenterYX;
                text-align: center;
                font-size: 1.9rem;
                cursor: pointer;
                background-color: map-get($colors, "orange");
                color: map-get($colors, "coffee");
                transition: all 0.5s ease-in;
            }
        }
    }
}
