.my-btn {
    width: 20rem;
    height: 4.1rem;
    position: relative;
    border: 0.2rem solid map-get($colors, "orange");
    border: 0;
    outline: 0;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.15rem;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: transparent;
    color: map-get($colors, "orange");
    overflow: hidden;
    @include transition(all, 0.3, ease-in-out, 0);

    &::before {
        content: "";
        width: 23%;
        height: 70%;
        position: absolute;
        bottom: 0;
        left: 2.2rem;
        border-width: 0 0 0.3rem 0.3rem;
        border-style: solid;
        border-color: #ee6c4d;
        border-radius: 0;
        @include transition(all, 0.3, ease-in-out, 0);
    }

    &::after {
        content: "";
        width: 23%;
        height: 70%;
        position: absolute;
        top: 0;
        right: 2.2rem;
        border-width: 0.3rem 0.3rem 0 0;
        border-style: solid;
        border-color: #ee6c4d;
        border-radius: 0;
        @include transition(all, 0.3, ease-in-out, 0);
    }

    &:hover::before,
    &:hover::after {
        width: 95%;
        height: 95%;
    }

    &:hover {
        @include prefixing(transform, scale(1.1));
    }
}
