html {
    font-size: 10px;
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
}

body {
    background-color: map-get($colors, "dark") !important;
    color: map-get($colors, "coffee") !important;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 0.3em;
    }

    &::-webkit-scrollbar-thumb {
        background-color: map-get($colors, "orange");
        border-radius: 1rem;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
}

::-moz-selection {
    color: map-get($colors, "coffee");
    background: map-get($colors, "orange");
}

::selection {
    color: map-get($colors, "coffee");
    background: map-get($colors, "orange");
}

img {
    max-width: 100% !important;
    width: 100% !important;
    @include prefixing(object-fit, cover);
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.high-index {
    z-index: 1000 !important;
    @include prefixing(transform, rotate(0) !important);
    top: 0 !important;
}

.still-label {
    top: -2rem;
    @include fade(show);
}

.text-line {
    width: 100%;
    @include prefixing-values(height, fit-content);
    padding: 0.5rem 0;
    display: inline-block;
    position: absolute;
    bottom: 0%;
    left: 50%;
    @include prefixing(transform, translateX(-50%));
    text-align: center;
    text-transform: capitalize;
    font-size: 4.5rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: map-get($colors, "orange");
    color: map-get($colors, "orange");
    background-color: #00000080;
    @include prefixing(user-select, none);
    z-index: 99999;

    @media (max-width: 768px) {
        display: none;
    }
}

.animation-left-right {
    @include prefixing(animation-name, fromLeftToRight);
    @include prefixing(animation-timing-function, ease-in-out);
    @include prefixing(animation-delay, 0.1s);
    @include prefixing(animation-duration, 1.5s);
}

.animation-right-left {
    @include prefixing(animation-name, fromRightToLeft);
    @include prefixing(animation-timing-function, ease-in-out);
    @include prefixing(animation-delay, 0.1s);
    @include prefixing(animation-duration, 1.5s);
}

@-webkit-keyframes fromRightToLeft {
    0% {
        @include hide-with-translate-x-reverse-15rem;
    }

    100% {
        @include show-with-translate-x-0;
    }
}

@keyframes fromRightToLeft {
    0% {
        @include hide-with-translate-x-reverse-15rem;
    }

    100% {
        @include show-with-translate-x-0;
    }
}

@-webkit-keyframes fromLeftToRight {
    0% {
        @include hide-with-translate-x-35rem;
    }

    100% {
        @include show-with-translate-x-0;
    }
}

@keyframes fromLeftToRight {
    0% {
        @include hide-with-translate-x-35rem;
    }

    100% {
        @include show-with-translate-x-0;
    }
}
