html {
    font-size: 10px;
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
}

body {
    background-color: map-get($colors, "dark") !important;
    color: map-get($colors, "coffee") !important;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 0.3em;
    }

    &::-webkit-scrollbar-thumb {
        background-color: map-get($colors, "orange");
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
}

::selection {
    color: map-get($colors, "coffee");
    background: map-get($colors, "orange");
}

img {
    max-width: 100% !important;
    width: 100% !important;
    object-fit: cover;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.high-index {
    z-index: 1000 !important;
    transform: rotate(0) !important;
    top: 0 !important;
}

.still-label {
    top: -2rem;
    @include visibleWithOpacityOne;
}

.text-line {
    width: 100%;
    height: fit-content;
    padding: 0.5rem 0;
    display: inline-block;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-transform: capitalize;
    font-size: 4.5rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: map-get($colors, "orange");
    color: map-get($colors, "orange");
    background-color: #00000080;
    user-select: none;
    z-index: 99999;

    @media (max-width: 768px) {
        display: none;
    }
}

.animation-left-right {
    animation-name: fromLeftToRight;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
}

.animation-right-left {
    animation-name: fromRightToLeft;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
}

@keyframes fromRightToLeft {
    0% {
        transform: translateX(-150px);
        visibility: hidden;
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fromLeftToRight {
    0% {
        transform: translateX(350px);
        visibility: hidden;
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
    }
}
