p {
    line-height: 1.6 !important;
}

.sec-title {
    position: relative;
    font-size: 3.4rem;

    @media (max-width: 768px) {
        font-size: 2.6rem;
    }

    &::first-letter {
        color: map-get($colors, "orange");
    }

    &::before {
        content: "";
        width: 20%;
        height: 0.3rem;
        position: absolute;
        bottom: -0.6rem;
        left: 0;
        background-color: map-get($colors, "orange");
        @include transition(width, 0.3, ease-in, 0);
    }

    &:hover::before {
        width: 50%;
    }
}

.p-custom {
    width: 100%;
    padding-left: 1rem;
    font-size: 1.8rem;
    position: relative;

    @media (max-width: 768px) {
        font-size: 1.67rem;
    }

    &::before {
        content: "";
        width: 0.3rem;
        height: 100%;
        position: absolute;
        top: 0;
        left: -1rem;
        background-color: map-get($colors, "orange");
    }
}
