/* lato-700 - latin */
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    src: url("../../fonts/lato/lato-v23-latin-700.eot"); /* IE9 Compat Modes */
    src: local(""), url("../../fonts/lato/lato-v23-latin-700.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../../fonts/lato/lato-v23-latin-700.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../../fonts/lato/lato-v23-latin-700.woff") format("woff"),
        /* Modern Browsers */ url("../../fonts/lato/lato-v23-latin-700.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../../fonts/lato/lato-v23-latin-700.svg#Lato") format("svg"); /* Legacy iOS */
}
